* {
    margin:0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contenant {
/* background-color: aquamarine; */
display: flex;
flex-direction: column;
height: 95vh;
}

/* Début de la navvBarre */
#NavBarre {
    background-image: linear-gradient(to right, #00dbb3, #2ddbb8, #43dbbc, #53dbc0, #62dbc4, #6edeca, #7ae1d0, #85e4d6, #93ebe0, #a1f2e9, #aff8f2, #bdfffb);
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 1px; */
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    color: white;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    margin-bottom: 10px;
}

#lien_de_Nav{
    display: flex;
    flex-direction: row;
    flex: 6;
    justify-content: space-around;
}

.itemNav {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}

#logo {
    display: flex;
    flex: 2;
    justify-content: flex-start;
    font-size: 36px;
}

#closure {
display: flex;
flex: 2;
justify-content: flex-end;
}

.X {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #bd0900;
    text-align: center;
}

.bold {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}
/* Fin NavBarre */

/* Debut du bloc de page  */
#contenantPage {
  
    display: flex;
    flex: 9;
}
.unVisiteur {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    box-shadow: 1px 1px 5px cadetblue;
    padding-top: 1vh;
    padding-bottom: 1vh;

}


#visiteur {
display: flex;
background-color: azure;
flex-direction: column;
flex: 3;
align-items: center;
justify-content:space-around;
}

#visiteurs {
       /* background-color: darkgreen; */
       width: 80%;
       display: flex;
       align-items: baseline;
       flex-direction: column-reverse;
       /* padding: 0px; */
       /* border: 1px solid; */
       /* border-radius: 2%; */
       box-shadow: 1px 1px 5px cadetblue;


}
.visiteurNomAdresse {
    margin: 3px;
    display: flex;
    justify-content: space-between
}

.plus_de_visiteur {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    padding-top: 6vh;
    padding-bottom: 2vh;
}

.bouton_plus_de_visiteur {
    border-radius: 50%;
    box-shadow: 1px 1px 5px cadetblue;
    border: none;
    padding: 2vh;
    height: 32px;
  
}

#rh {
    display: flex;
/* Le margin-top le temps de recevoir une liste de Rh pour que ça sois plus simpa  */
    margin-top: 44px;

    flex: 3;
   justify-content: center;

}

#pslrl {
    display: flex;
/* Le margin-top le temps de recevoir une liste de pslrl pour que ça sois plus simpa  */
    margin-top: 44px;
    flex: 3;
    justify-content: center;
}
