* {
    margin:0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label {
    margin-right: 2px;
}

#contenant {
/* background-color: aquamarine; */
display: flex;
flex-direction: column;
height: 95vh;
background-color: #f5f5f5;
}

/* Début de la navvBarre */
#NavBarre {
    background-image: linear-gradient(to right, #00dbb3, #2ddbb8, #43dbbc, #53dbc0, #62dbc4, #6edeca, #7ae1d0, #85e4d6, #93ebe0, #a1f2e9, #aff8f2, #bdfffb);
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 1px; */
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    color: white;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    margin-bottom: 10px;
}

#lien_de_Nav{
    display: flex;
    flex-direction: row;
    flex: 6;
    justify-content: space-around;
}

.itemNav {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}

#logo {
    display: flex;
    flex: 2;
    justify-content: flex-start;
    font-size: 36px;
}

#closure {
display: flex;
flex: 2;
justify-content: flex-end;
}

.X {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #bd0900;
    text-align: center;
}

.bold {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}
/* Fin NavBarre */

/* Debut du bloc de page  */
#contenantPage {
    display: flex;
    flex-direction: column;
    flex: 9;
    /* background-color: brown; */
    color: #2e2e2e;
  
}

.formulaire {
    display: flex;
    flex-direction: column;
    /* background-color: chocolate; */
    justify-content: center;
    margin-left: 18%;

}

.form-example {
    display: flex;
    flex-direction: column;
    width: 38%;
    margin-right: 4%;
    margin-top: 2%;
}
.contenantEchantillons {
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
}


.selection {
    width: 16%;
    margin-left: 12px;
}

.contenu {
    display: flex;
    flex-direction: row;
}

.bilanInput {
border: none;
height: 100px;
width: 40%;
border-radius: 20px;
margin-top: 3px;
box-shadow: 5px 5px 21px -4px grey;
outline-style:none;
}

.inputDate , .motifInput, .motifEchantillons, .motifMedicament {
box-shadow: 5px 5px 21px -4px grey;
border: none;
height: 40px;
border-radius: 20px;
margin-top: 3px;
outline-style:none;
padding-left: 10px;
padding-right: 10px;
}


.inputDate:hover, .inputDate:hover , .motifMedicament:hover , .motifInput:hover, .motifEchantillons:hover, .bilanInput:hover, .send:hover {
    transition: 0.3s ease-in;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}




.motifInput {
    width: 80%;
}


.send {
    height: 40px;
    width: 20%;
    border-radius: 20px;
    margin-top: 3px;
    border: none;
    outline-style:none;
    box-shadow: 5px 5px 21px -4px grey;
}



