

#contenant {
background-color: aquamarine;
display: flex;
flex-direction: column;
height: 95vh;

}

/* Début de la navvBarre */
#NavBarre {
    background-color: yellowgreen;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 1px; */
    padding-right: 9px;
    padding-left: 9px;
}

#lien_de_Nav{
    display: flex;
    flex-direction: row;
    flex: 6;
    justify-content: space-around;
}

.itemNav {
    display: flex;
    justify-content: space-around;
}

#logo {
    display: flex;
    flex: 2;
    justify-content: flex-start;
}

#closure {
display: flex;
flex: 2;
justify-content: flex-end;
}
/* Fin NavBarre */

/* Debut du bloc de page  */
#contenantPage {
    background-color: tomato;
    display: flex;
    flex: 9;
}